::-webkit-scrollbar-track {
  /*background-color: #dbe9f4;*/ 
  /*background-color: #383E42;*/}

/* Handle */
::-webkit-scrollbar-thumb {
  /*background-color: aqua;*/
  /*background-color: #7E8284;*/ }
.dNone{
  display:none;
}

a{
  text-decoration: none;
}
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}
.bm-burger-button {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 20px;
}
/* Color/shape of burger icon bars */
.bm-burger-bars{
  background: grey;}
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {background: light-grey;}
/* Position and sizing of clickable cross button */
.bm-cross-button {height: 24px;width: 24px;left:150px;}
/* Color/shape of close button cross */
.bm-cross {background: #bdc3c7;}
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations 
- you should not need to touch it in most cases
*/
.bm-menu-wrap {position: fixed;height: 100%;}
/* General sidebar styles */
.bm-menu {
  /*background: #373a47;*/
  background-color: #00AFAA;
  padding: 1em 1em 0 0.8em; /* left-pad added*/
  font-size: 1.15em;
  width:180px;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {fill: #373a47;}
/* Wrapper for item list */
.bm-item-list {color: #b8b7ad;padding: 0em; /*changed from 0.8*/}
/* Individual item */
.bm-item {display: inline-block;}
/* Styling of overlay */
.bm-overlay {background: rgba(0, 0, 0, 0.3);}


